
.header{
  height: 30px;
  font: normal normal normal 12px/1.4em anton,sans-serif;
  color: #270672;
  padding-top: 20px;
  background: linear-gradient(to bottom right,#7081F0, 50%,#D3E6EE )
}
.Bar
{
  background: #a9c4ce;
  width:100%;
  height:50px;
  text-align: center
}

.component-size {
    
    width: 350px;
  
  }
  
  
.component-search-size {
  
  width: 420px;

}

.full-width {
    width: 100%;
    
  }

  button
  {
    margin-top: 5px
  }
  .MainDiv{
    width: 100%;
    height: 400px
  }
  
  .ErrorMessage
  {
    font-family: sans-serif, Helvetica, ;
    font-size: 14px;
    color:red;
   
  }