
.MenuButton
{
   
    background:    #063966;
    background:    -webkit-linear-gradient(#063966, #cdd8e2);
    background:    linear-gradient(#063966, #cdd8e2);
    border-radius: 1000px;
    padding:       8px 30px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 18px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   none;
    width:         250px; 
   
}

.MenuButton:hover
{
    background:    #cdd8e2;
    color:         #000000;
    
}

.Separator
{
    background:    #148698;
    border-radius: 5px;
    padding:       8px 30px;
    color:         #cccccc;
    display:       inline-block;
    font:          normal 700 27px/1 "Calibri", sans-serif;
    text-align:    start;
    text-shadow:   none;
    width:         250px;
}